<div class="body-nav-bar">
    <div class="logo-nav-bar">
        <a routerLink="/">
            <img src="LOGO-DENTAL-ONE.png" alt="DENTAL-ONE" class="logo-dental-one">
        </a>
    </div>

    <div class="modules-nav-bar">
        <div class="nav-cl">
            <a class="underline" routerLink="/">Inicio</a>
            <a routerLink="/about-us">Nosotros</a>
            <a routerLink="/services">Servicios</a>
            <a routerLink="/contact-us">Contacto</a>
            <a routerLink="/help">Ayuda</a>
            
            @if (this.userService.isLoggedIn()) {
                
                @if (!this.userService.userLogged()?.isAdmin) {
                    <a routerLink="/paciente">Mi historial</a>
                }

                <a [routerLink]="this.userService.userLogged()?.isAdmin ? '/calendar' : '/calendar'">
                    {{ this.userService.userLogged()?.isAdmin ? 'Gestionar Citas' : 'Agendar Cita' }}
                </a>
            }
        </div>

        <div>
            @if (!this.userService.isLoggedIn()) {
                <li class="login-signin-container">
                    <button class="login-button" routerLink="/log-in">Iniciar Sesion</button>
                </li>
            } @else {
                <li class="login-signin-container">
                    <button class="register-button" (click)="logOut()"
                        [ngStyle]="{'background-color': 'red'}" routerLink="/">
                        Cerrar Sesion
                    </button>
                </li>
            }
        </div>
    </div>

    <button class="hamburguer-icon" (click)="toggleMenu()" aria-label="Abrir menú" [attr.aria-expanded]="wasOpenMenu">
        ☰
    </button>
</div>

<div class="menu-overlay" [class.show-overlay]="wasOpenMenu" (click)="cerrarMenu()"></div>

<div class="menu-sidebar" [class.abierto]="wasOpenMenu">
    <div class="menu-header">
        <h4>Menú Principal</h4>
        <button class="close-btn" (click)="cerrarMenu()" aria-label="Cerrar menú">✕</button>
    </div>

    <ul class="mobile-modules-list">
        <li><a routerLink="/" (click)="cerrarMenu()">Inicio</a></li>
        <li><a routerLink="/about-us" (click)="cerrarMenu()">Nosotros</a></li>
        </ul>

    @if (!this.userService.isLoggedIn()) {
        <div class="mobile-auth-section">
            <a class="auth-link" (click)="cerrarMenu()" routerLink="/log-in">Iniciar Sesión</a>
            <a class="auth-link register-link" (click)="cerrarMenu()" routerLink="/register">Registrarse</a>
        </div>
    } @else {
        <div class="mobile-auth-section">
            <a class="auth-link register-link" (click)="cerrarMenu()" routerLink="/register">
               {{ this.userService.userLogged()?.isAdmin ? 'Panel Admin' : 'Mi Perfil' }}
            </a>
        </div>
    }
</div>