.body-log-in {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
}

.login-container {
    width: 100%;
    max-width: 450px;
    padding-top: 50px;
}

.login-card {
    text-align: center;
}

h1 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 30px;
}

.tab-selector {
    display: flex;
    margin-bottom: 30px;
    border-radius: 8px;
    overflow: hidden;
}

.tab-selector button {
    flex: 1;
    padding: 15px 0;
    border: 1px solid #ccc;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    transition: all 0.3s;
}

.tab-left {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.tab-right {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.tab-active {
    background-color: var(--color-btn);
    color: white;
    border-color: var(--color-btn);
}

.tab-inactive {
    background-color: white;
    color: #333;
    border-color: var(--color-btn-hover);
}



form {
    text-align: left;
    width: 100%;
}

label {
    display: block;
    font-weight: 600;
    margin-top: 15px;
    margin-bottom: 5px;
    color: #555;
    font-size: 14px;
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
    font-size: 16px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
}

/* Styles button --------------------------------*/
.submit-button {
    width: 100%;
    padding: 15px;
    margin-top: 15px;
    background-color: var(--color-btn);
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submit-button:hover {
    background-color: var(--color-btn-hover)
}