<div class="nosotros">
    <h1 class="seccion-titulo-nosotros">Quiénes Somos</h1>

    <div class="contenido-centrado-nosotros">

        <div class="introductionN bloque-nosotros">
            <div class="imageN">
                <img src="dentista4.jpg" alt="Imagen del equipo o la clínica">
            </div>
            <div class="intro texto-nosotros">
                <h2>Nuestra Historia</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum explicabo recusandae obcaecati excepturi! Odit necessitatibus accusamus fugit odio corrupti laudantium veritatis quia tempore, velit deserunt fuga porro, excepturi accusantium. Voluptatum!</p>
            </div>
        </div>

        <hr class="divider">

        <div class="otro bloque-nosotros bloque-inverso">
            <div class="interests texto-nosotros">
                <h2>Nuestro Objetivo</h2>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsum, quos. Soluta quam reprehenderit, sequi quod eveniet eius, quaerat provident perferendis magni inventore, dolorem repudiandae molestias minus natus et pariatur maxime.</p>
            </div>
            <div class="imageInterests">
                <div class="interes-tarjeta">
                    <div class="tarjeta-imagen-interes"></div>
                    <p class="tarjeta-titulo-interes">Visión</p>
                </div>
                <div class="interes-tarjeta">
                    <div class="tarjeta-imagen-interes"></div>
                    <p class="tarjeta-titulo-interes">Valores</p>
                </div>
                <div class="interes-tarjeta">
                    <div class="tarjeta-imagen-interes"></div>
                    <p class="tarjeta-titulo-interes">Misión</p>
                </div>
            </div>
        </div>

    </div>
</div>