<div class="body-log-in">
    <div class="login-container">
        <div class="login-card">
            <h1 class="text-center">Nueva Contraseña</h1>

            <form [formGroup]="resetForm" (ngSubmit)="onSubmit()" class="form">
                <label for="password">Nueva Contraseña</label>
                <div class="password-wrapper">
                    <input [type]="showPassword ? 'text' : 'password'" formControlName="password">
                    <span class="password-toggle" (click)="togglePasswordVisibility()">
                        {{ showPassword ? 'Ocultar' : 'Mostrar' }}
                    </span>
                </div>
                <div *ngIf="passwordControl?.invalid && passwordControl?.touched" class="error-message">
                    <small *ngIf="passwordControl?.errors?.['required']">La contraseña es obligatoria.</small>
                    <small *ngIf="passwordControl?.errors?.['pattern']">Debe tener 8-15 caracteres, mayúscula, minúscula, número y carácter especial.</small>
                </div>

                <label for="confirmpsswd">Confirmar Contraseña</label>
                <div class="password-wrapper">
                    <input [type]="showConfirmPassword ? 'text' : 'password'" formControlName="confirmpsswd">
                    <span class="password-toggle" (click)="toggleConfirmPasswordVisibility()">
                        {{ showConfirmPassword ? 'Ocultar' : 'Mostrar' }}
                    </span>
                </div>
                <div *ngIf="resetForm.errors?.['mismatch'] && resetForm.get('confirmpsswd')?.touched" class="error-message">
                    <small>Las contraseñas no coinciden.</small>
                </div>

                <button type="submit" class="submit-button" style="margin-top: 15px;">Guardar Contraseña</button>
            </form>
        </div>
    </div>
</div>
