/* ------------------------------------------------------------------ */
.main-footer {
    width: 100%;
}

.footer-background {
    background-color: var(--bg-footer);
    color: var(--color-white);
    padding: 40px 0;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

/* ------------------------------------------------------------------ */
.footer-column {
    flex: 1;
    max-width: 350px;
}

.footer-column h3 {
    color: var(--color-white);
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.footer-column p {
    margin: 5px 0;
    line-height: 1.6;
    font-size: 14px;
}

.info-hotel p {
    margin-bottom: 20px;
}

.info-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-size: 15px;
}

.info-item span {
    margin-right: 10px;
    font-size: 18px;
}

/* ------------------------------------------------------------------ */
.social-icons {
    display: flex;
    gap: 15px;
    margin-top: 15px;
}

.social-icons a {
    text-decoration: none;
    color: var(--color-white);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border: 1px solid var(--color-white);
    border-radius: 50%;
    transition: background-color 0.3s;
}

.social-icons a:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.icon-placeholder {
    font-size: 18px; 
    font-weight: bold;
}

/* ------------------------------------------------------------------ */
.footer-bottom-bar {
    background-color: #2a333d;
    color: #999999;
    text-align: center;
    padding: 10px 20px;
    font-size: 12px;
}

@media(max-width: 799px) {
    .info-item{
        visibility: hidden;
        display: none;
    }
    .footer-content{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .horarios{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .social{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    

}